/* Manrope font import */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
/* Monsterrat font import */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

:root {
  /* Font root section */
  --primary-font: "Manrope", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
  /* Font root section end */
  /* Text color section */
  --light-text-color: #fff;
  --header-light-text-color-base: rgb(222, 222, 222);
  --header-light-text-color-hover: #fdfdfd;
  --main-text-color: rgb(34, 82, 155);
  --description-text-color: #333334;
  --dark-text-color: rgb(0, 0, 0);
  /* Text color section end */
  /* Background colors */
  --header-section-color-bg: rgb(34, 82, 155);
  --header-section-darker-color-bg: rgb(28, 69, 129);
  --button-color-bg: rgb(248, 180, 68);
  --button-color-bg-hover-focus: rgb(222, 222, 222);
  --light-color-bg: rgb(255, 255, 255);
  --hero-section-color-bg: rgba(110, 184, 100, 1);
  --shadow-bg-color: rgba(64, 64, 64, 0.333);
  /* Background colors section end */
}
html {
  scroll-behavior: smooth;
}
html,
body,
div,
span,
object,
iframe,
embed,
main,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
caption,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
source {
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  border: 0;
  background: transparent;
  padding: 0;
  font-size: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;
}
@keyframes float-y {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
input#burger-menu {
  display: none;
}
.section {
  padding: 10px 0;
}
.container {
  width: calc(100vw - 226px);
  min-width: 80vw;
  margin: 0 auto;
}
.link {
  text-decoration: none;
}
.width-auto {
  width: auto;
}
.flex {
  display: flex;
}
.height-100 {
  height: 100%;
}
.flex-direction-column {
  flex-direction: column;
}
.flex-direction-row {
  flex-direction: row;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-space-around {
  justify-content: space-around;
}
.flex-end {
  align-items: flex-end;
}
.justify-content-flex-end {
  justify-content: flex-end;
}
.flex-start {
  align-items: flex-start;
}
.align-content-center {
  align-content: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.align-items-center {
  align-items: center;
}
.products-gap {
  gap: 50px;
}
.contact-gap {
  gap: 20px;
}
.contact-form-gap {
  gap: 200px;
}
.gap-70px {
  gap: 70px;
}
.row-reverse {
  flex-direction: row-reverse;
}
p {
  font-family: var(--secondary-font);
  font-size: 20px;
  text-align: justify;
}
/* Header styles */
.header {
  background-color: var(--header-section-color-bg);
  padding-top: 32px;
  padding-bottom: 32px;
  position: absolute;
  top: 0;
  z-index: 9999;
  width: 100%;
  border-bottom: 1px solid var(--header-section-darker-color-bg);
}
.container-header {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
}
.nav .header-menu {
  list-style-type: none;
  gap: 60px;
  display: flex;
  margin-left: 60px;
}
.hidden {
  visibility: hidden;
}
.media {
  margin-left: auto;
}

.media .ul-media {
  list-style-type: none;
  gap: 60px;
  display: flex;
}
.media .header-menu-media-element a {
  text-decoration: none;
  color: var(--header-light-text-color-base);
  font-family: var(--secondary-font);
}

.ecoflow-pc-logo:hover {
  filter: drop-shadow(0px 0px 20px var(--light-color-bg));
  transition: 0.3s;
}
.media .header-menu-media-element a:hover {
  color: var(--header-light-text-color-hover);
  transition: 0.3s;
  filter: drop-shadow(0px 0px 20px var(--light-color-bg));
}
/* Hero section styles */
.hero {
  /* background-color: var(--hero-section-color-bg); */
  height: 100vh;
}

.hero-img {
  width: 1000px;
  position: absolute;
  right: -100px;
  top: -90px;
  filter: drop-shadow(5px 5px 5px var(--shadow-bg-color));
  /* animation: 4s ease infinite float-y paused; */
}

.hero-title {
  color: var(--light-text-color);
  font-family: var(--primary-font);
  font-size: 80px;
  max-width: 600px;
  /* filter: drop-shadow(0px 0px 11px 0px #444); */
  text-align: left;
  left: 0;
  padding-left: 30px;
  position: relative;
}

.hero-title,
.hero-button {
  z-index: 1;
}

/* Slider */
.slider-wrapper {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  bottom: calc(100vh - 80px);
}
.slider {
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  background-color: black;
}

.slider img {
  flex: 1 0 100%;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  scroll-snap-align: start;
}
.slider-nav {
  display: flex;
  gap: 40px;
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav .slider-link {
  width: 1rem;
  height: 1rem;
  border-radius: 75%;
  background-color: var(--header-light-text-color-base);
  opacity: 50%;
  overflow-anchor: auto;
  display: flex;
}
.slider-nav .slider-link:hover {
  background-color: var(--light-color-bg);
  transition: 0.3s;
  opacity: 100%;
}
.hero-button {
  border-radius: 25px;
  font-family: var(--secondary-font);
  border: 0;
  background-color: var(--button-color-bg);
  margin-top: 35px;
  padding: 30px 60px 30px 60px;
  margin-left: 30px;
  display: flex;
  position: relative;
  font-size: 20px;
}
.hero-button-link {
  color: var(--dark-text-color);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--button-color-bg-hover-focus);
  transition: 0.3s;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 25px 0px var(--button-color-bg-hover-focus);
  -moz-box-shadow: 0px 0px 25px 0px var(--button-color-bg-hover-focus);
  box-shadow: 0px 0px 25px 0px var(--button-color-bg-hover-focus);
}
/* Delta Section */

.section-title {
  font-size: 100px;
  text-align: center;
  text-transform: capitalize;
  color: var(--main-text-color);
  margin: 0 auto;
  margin-bottom: 60px;
}
/* .section-title::before { */
/* content: "{"; */
/* margin-right: 10px; */
/* color: var(--main-text-color); */
/* } */
/* .section-title::after { */
/* content: "}"; */
/* margin-left: 10px; */
/* color: var(--main-text-color); */
/* } */
.section {
  overflow: hidden;
}

/* .delta-section { */
/* padding-bottom: 200px; */
/* padding-top: 200px; */
/* height: auto; */
/* } */
.delta-section .section-subtitle {
  font-size: 80px;
  width: 50px;
  letter-spacing: 0.3em;
  color: var(--main-text-color);
  position: relative;
}
.delta-section p {
  width: 300px;
  position: relative;
  line-height: 1.45em;
}
.delta-section-img {
  position: relative;
  /* bottom: 860px; */
  /* margin-left: clamp(10vw, 30vw, 40vw); */
  min-width: 600px;
  filter: drop-shadow(5px 5px 5px var(--shadow-bg-color));
}
.delta-section {
  padding-top: 100px;
  padding-bottom: 100px;
}
.delta-section .inner-container {
  gap: 50px;
}
.delta-section .inner-section-container {
  gap: 200px;
}
.delta-section .section-sub-subtitle {
  position: relative;
  font-size: 60px;
  color: var(--main-text-color);
}
.delta-section .section-mini-title {
  position: relative;
  color: var(--description-text-color);
  font-size: 40px;
}

.delta-section .section-sub-subtitle-outline {
  -webkit-text-fill-color: transparent;
  position: absolute;
  -webkit-text-stroke-width: 2px;
  font-size: 500px;
  z-index: -1;
  bottom: 0px;
  filter: blur(6px);
}
/* River Pro section */
.river-pro-section {
  background-color: var(--header-section-color-bg);
  padding-bottom: 200px;
  padding-top: 200px;
  height: 1290px;
}
.river-pro-section .inner-container {
  gap: 100px;
}
.delta-iframe {
  /* bottom: 760px; */
  max-width: 1100px;
  position: relative;
  display: flex;
  margin: 0 auto;
  height: 720px;
  -webkit-box-shadow: 0px 0px 24px 0px var(--shadow-bg-color);
  -moz-box-shadow: 0px 0px 24px 0px var(--shadow-bg-color);
  box-shadow: 0px 0px 24px 0px var(--shadow-bg-color);
}
.river-pro-section p {
  margin-bottom: 60px;
  line-height: 1.45em;
  color: var(--light-text-color);
  width: 408px;
  top: 30px;
  position: relative;
}

.river-pro-section .outdoor-img {
  width: 500px;
  height: 500px;
  overflow: hidden;
  border-radius: 30px;
  /* z-index: -1; */
  position: relative;
  -webkit-box-shadow: 0px 0px 24px 0px var(--shadow-bg-color);
  -moz-box-shadow: 0px 0px 24px 0px var(--shadow-bg-color);
  box-shadow: 0px 0px 24px 0px var(--shadow-bg-color);
}
.river-pro-section .outdoor-img img {
  width: 1100px;
  height: 550px;
  position: relative;
  right: 294px;
  bottom: 45px;
}
.river-pro-section .section-subtitle {
  font-size: 75px;
  color: var(--light-text-color);
  position: relative;
  width: 450px;
}

.river-pro-section .section-sub-subtitle {
  position: relative;
  font-size: 60px;
  color: var(--light-text-color);
  -webkit-text-stroke-width: 2px;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.1em;
  width: 400px;
}
.river-pro-section .section-subtitle,
.river-pro-section .section-sub-subtitle,
.river-pro-section p {
  /* margin-left: clamp(20vw, 50vw, 70vw); */
}
/* Solar panel section */
.solar-panel-section {
  height: 1191px;
}
.solar-panel-section .section-title {
  max-width: 1000px;
}
.solar-panel-section .solar-panel-section-img {
  width: 800px;
  position: relative;
  filter: drop-shadow(5px 5px 5px var(--shadow-bg-color));
}
.solar-panel-section .solar-panel-list {
  position: relative;
  width: 400px;
  margin-top: 30px;
}
.solar-panel-section .align-items-center {
  align-items: unset;
}
.solar-panel-section .solar-panel-list .solar-panel-list-element {
  margin: 5px;
  font-family: var(--secondary-font);
  font-size: 20px;
}
.solar-panel-section p {
  width: 450px;
}
.solar-panel-section p,
.solar-panel-section .solar-panel-list {
  width: auto;
  max-width: 400px;
}
/* Intersection */
/* .intersection .container .intersection-element { */
/* margin: 0 auto; */
/* text-align: center; */
/* } */
/* .intersection-element { */
/* font-size: 80px; */
/* transform: rotate(-90deg); */
/* width: auto; */
/* font-family: var(--primary-font); */
/* color: var(--main-text-color); */
/* animation: 3s ease infinite float-y; */
/* } */
/* .intersection-element::before { */
/* content: ">"; */
/* margin: 10px; */
/* color: var(--main-text-color); */
/* } */
/* .intersection-element::after { */
/* content: ">"; */
/* margin: 10px; */
/* color: var(--main-text-color); */
/* } */

/* Product showcase section */
.products-showcase-section {
  background-color: var(--header-section-color-bg);
  height: 1488px;
}

.products-showcase-section .section-title {
  color: var(--light-text-color);
}
.products-showcase-section .products-list {
  list-style-type: none;
  gap: 55px;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
}
.products-showcase-section .products-list .products-item {
  -webkit-box-shadow: 0px 0px 24px 0px var(--shadow-bg-color);
  -moz-box-shadow: 0px 0px 24px 0px var(--shadow-bg-color);
  box-shadow: 0px 0px 24px 0px var(--shadow-bg-color);
  padding: 6px;
  background-color: var(--light-color-bg);
  border-radius: 20px;
}
.products-showcase-section .products-list .products-item img {
  background-color: var(--header-light-text-color-hover);
  -webkit-box-shadow: inset 0px -29px 27px -45px var(--shadow-bg-color);
  -moz-box-shadow: inset 0px -29px 27px -45px var(--shadow-bg-color);
  box-shadow: inset 0px -29px 27px -45px var(--shadow-bg-color);
}
.products-showcase-section .products-list .products-item .product-desc {
  /* border-top: 2px solid #333334; */
  background-color: var(--header-light-text-color-hover);
  padding-top: 30px;
  padding-bottom: 30px;
}
.products-showcase-section
  .products-list
  .products-item
  .product-desc
  .section-subtitle {
  color: var(--main-text-color);
  font-size: 22px;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 200px;
}
.products-showcase-section
  .products-list
  .products-item
  .product-desc
  .product-price {
  color: var(--main-text-color);
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
/* Contact section styles */

.contact-section {
  /* background-color: var(--light-color-bg); */
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  height: 1290px;
}
.contact-section #ecoflow-bg-video {
  width: 140%;
  height: 140%;
  position: absolute;
  object-fit: cover;
  z-index: -1;
  top: -15px;
  right: -15px;
  filter: blur(7px);
}
.contact-section p {
  position: relative;
  width: 400px;
  color: var(--light-text-color);
}
.contact-section .section-subtitle {
  margin-top: 150px;
}

.contact-section .contact-form {
  position: relative;
  max-width: 400px;
  min-width: 300px;
  width: 400px;
  background-color: var(--light-color-bg);
  padding-bottom: 30px;
  -webkit-box-shadow: 0px 0px 24px 0px var(--shadow-bg-color);
  -moz-box-shadow: 0px 0px 24px 0px var(--shadow-bg-color);
  box-shadow: 0px 0px 24px 0px var(--shadow-bg-color);
}
.contact-section .contact-form .form-container {
  /* background-color: var(--header-section-color-bg); */
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.contact-section .contact-form {
  border-radius: 20px;
}
.animate {
  animation-play-state: running;
}

.float-y-animation {
  animation: 10s ease infinite float-y;
}
.contact-section .contact-form h3 {
  font-size: 30px;
  font-family: var(--secondary-font);
  color: var(--main-text-color);
  text-align: center;
}
.contact-section .contact-form .form input {
  margin: 20px;
  padding: 10px;
  filter: drop-shadow(5px 5px 5px var(--shadow-bg-color));
  border-radius: 4px;
  border: 0;
}
.textarea-input {
  margin: 20px;
  padding: 10px;
  filter: drop-shadow(5px 5px 5px var(--shadow-bg-color));
  border: 0;
}
.form {
  padding-top: 30px;
  padding-bottom: 30px;
}
.contact-section .contact-form .form {
  display: flex;
  flex-direction: column;
}
.contact-section .contact-form input[type="submit"]:hover,
.contact-section .contact-form input[type="submit"]:focus {
  transition: 0.3s;
  color: var(--light-text-color);
  background: var(--header-section-color-bg);
}
.contact-section .section-subtitle {
  font-size: 50px;
  margin-bottom: 15px;
  width: 450px;
  color: var(--main-text-color);
}
.contact-section .contact-form .form label {
  margin: 3px;
}
.submit-input {
  color: var(--main-text-color);
  background-color: var(--light-color-bg);
}
/* Footer styles */
.footer {
  background-color: var(--header-section-color-bg);
  padding-top: 32px;
  padding-bottom: 32px;
}
.footer .link:hover {
  filter: drop-shadow(0px 0px 20px var(--light-color-bg));
  transition: 0.3s;
}

/* Adaptive design section */

/* L Laptop screens */
/* 1440x--- */
@media screen and (max-width: 1440px) {
  .container {
    width: calc(100vw - 226px);
  }
  .solar-panel-section .solar-panel-section-img {
    max-width: 850px;
  }
  .products-showcase-section .products-list {
    gap: 49px;
  }
  .delta-section .inner-section-container {
    gap: 30px;
  }
}

/* Laptop screens */
@media screen and (max-width: 1361px) {
  .container {
    width: calc(100vw - 226px);
  }
  .products-showcase-section .products-list {
    gap: 49px;
    padding-top: 0;
    justify-content: center;
  }
  .products-showcase-section {
    height: 1191px;
  }
  .products-showcase-section .products-list .products-item img {
    width: 300px;
    height: 300px;
  }
  .products-showcase-section {
    padding-top: 0;
    height: 1548px;
    padding-bottom: 0;
  }
  .delta-section img {
    width: calc(100vw - 175px);
  }
  .delta-iframe {
    width: calc(100vw - 226px);
  }
  .river-pro-section .row-reverse {
    flex-direction: column;
  }
  .solar-panel-section p,
  .solar-panel-section .solar-panel-list {
    margin: 0 auto;
  }
  .solar-panel-list {
    top: 20px;
  }
  .solar-panel-section .flex-direction-row {
    flex-direction: column;
  }
  .solar-panel-section .align-items-center {
    align-items: center;
  }
  .solar-panel-section .solar-panel-section-img {
    width: 700px;
  }
  .products-showcase-section .section-title {
    margin-bottom: 30px;
    width: auto;
  }
  .river-pro-section {
    height: 1786px;
    /* padding-top: 0; */
    padding-bottom: 0;
  }
  .contact-section .flex-direction-row {
    flex-direction: column;
  }
  .contact-section .inner-container {
    align-items: center;
  }
  .contact-section .contact-form-gap {
    gap: 100px;
  }
  .contact-section {
    height: 1786px;
  }
}
/* Tablet screens */
/* 920x--- */
@media screen and (max-width: 920px) {
  .container {
    width: calc(100vw - 226px);
  }
  .products-showcase-section .products-list {
    gap: 49px;
    justify-content: center;
  }
  .hero-title {
    font-size: 60px;
    max-width: 450px;
  }
  .products-showcase-section .products-list .products-item img {
    width: 250px;
    height: 250px;
  }
  .delta-section img {
    width: 600px;
  }
  .delta-section p,
  .delta-section .section-subtitle {
    left: 0px;
  }
  .delta-section .section-subtitle {
    font-size: 60px;
  }
  .delta-section .section-sub-subtitle {
    font-size: 50px;
  }
  .delta-section .section-mini-title {
    font-size: 40px;
  }
  .delta-iframe {
    height: 580px;
    margin-top: 0;
  }
  .products-showcase-section {
    height: 1786px;
  }
  .products-showcase-section .container {
    width: calc(100vw - 226px);
  }
  .solar-panel-section .solar-panel-section-img {
    width: 500px;
    bottom: -10vw;
    max-width: -webkit-fill-available;
  }
  .solar-panel-section {
    height: 1200px;
  }
  .solar-panel-section .section-title {
    font-size: 60px;
    width: 70vw;
    margin: 0 auto;
  }
  .solar-panel-section p,
  .solar-panel-section .solar-panel-list {
    top: 10vw;
    position: relative;
  }
  .solar-panel-section .solar-panel-list {
    top: 13vw;
  }
  .contact-section {
    height: 1965px;
  }
  /* Hamburger menu */
  .burger {
    display: grid !important;
  }
  .burger {
    display: none;
    height: min-content;
    cursor: pointer;
  }
  .burger .burger-layer {
    width: 20px;
    height: 3px;
    margin-bottom: 5px;
    background-color: var(--light-color-bg);
    border-radius: 30px;
    transition: 0.5s;
  }
  .media .ul-media {
    display: grid;
    position: absolute;
    background-color: var(--header-section-darker-color-bg);
    width: 100%;
    top: 82px;
    gap: 0;
    left: 0;
    z-index: -2;
    transform: translateY(-100%);
    transition: 0.5s;
    justify-items: center;
    /* width: 100px; */
  }
  .overflow-container {
    display: flex;
    height: 89px;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    position: absolute;
    background-color: var(--header-section-color-bg);
  }
  .media .ul-media .header-menu-media-element {
    /* padding-right: 49%; */
    /* padding-left: 49%; */
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    /* background-color: var(--header-section-darker-color-bg); */
  }
  /* When input is checked the "burger menu" goes down to its original position */
  input#burger-menu:checked ~ .container .media .ul-media {
    transform: translateY(0);
  }
  input#burger-menu:checked
    ~ .container
    .media
    .burger
    .burger-layer:nth-child(1) {
    position: absolute;
    transform: rotate(45deg);
  }

  input#burger-menu:checked
    ~ .container
    .media
    .burger
    .burger-layer:nth-child(2) {
    display: none;
  }

  input#burger-menu:checked
    ~ .container
    .media
    .burger
    .burger-layer:nth-child(3) {
    transform: rotate(-45deg);
  }
}
@media screen and (max-width: 780px) {
  .products-showcase-section {
    height: 1786px;
  }
  .river-pro-section .outdoor-img {
    width: 400px;
    height: 400px;
  }
  .river-pro-section .outdoor-img img {
    width: 900px;
    height: 450px;
    right: 246px;
  }
  .river-pro-section .section-subtitle,
  .river-pro-section p,
  .river-pro-section .section-sub-subtitle {
    width: 350px;
  }
  .river-pro-section .section-subtitle {
    font-size: 60px;
  }
  .river-pro-section .section-sub-subtitle {
    font-size: 50px;
    width: 300px;
  }
  .contact-section .contact-form {
    width: 350px;
  }
}

@media screen and (max-width: 700px) {
  .delta-section .delta-section-img {
    min-width: 40px;
    margin: 0 auto;
    width: calc(85vw);
    left: 0;
  }
  .products-showcase-section .section-title {
    width: auto;
    font-size: 60px;
  }
  .delta-section .section-sub-subtitle {
    margin-top: 50px;
  }
  .delta-section .section-sub-subtitle,
  .delta-section .section-mini-title {
    justify-content: center;
    bottom: 100px;
  }
  .contact-section .section-title {
    font-size: calc(30px + 4vw);
    min-width: 250px;
  }
  .contact-section .section-subtitle {
    font-size: 40px;
    width: 350px;
  }
  .contact-section p {
    width: 350px;
  }
  .contact-section .form {
    width: 350px;
  }
  .contact-section {
    height: 1548px;
  }
  .delta-iframe {
    min-width: 340px;
  }
}
/* L Mobile screens */
/* 425x--- */
@media screen and (max-width: 425px) {
  .container {
    width: calc(100vw - 226px + 75px);
  }
  .solar-panel-section .container {
    transform: scale(0.8);
  }
  .intersection-element {
    font-size: 60px;
  }
  .delta-iframe {
    width: calc(500px - 226px);
    height: 500px;
    min-width: 0;
  }
  .hero {
    height: 1191px;
  }
  .hero .hero-title {
    font-size: 45px;
    width: 300px;
  }
  .delta-section .section-subtitle {
    font-size: 40px;
  }
  .delta-section img {
    width: 400px;
    margin-left: 0px;
  }
  .delta-section .section-title {
    font-size: 60px;
  }
  .river-pro-section .section-sub-subtitle {
    width: auto;
  }
  .river-pro-section .section-subtitle {
    width: auto;
  }
  .river-pro-section .section-title {
    font-size: 60px;
    margin-bottom: 30px;
  }
  .solar-panel-section .section-title {
    font-size: 60px;
  }
  .products-showcase-section .section-title {
    font-size: 70px;
  }
  .contact-section .section-subtitle {
    font-size: 30px;
    width: 300px;
  }
  .contact-section p {
    font-size: 20px;
    width: 300px;
  }
  .solar-panel-section p {
    width: auto;
  }
  .solar-panel-section {
    height: 1191px;
    padding-top: 85px;
  }
  .river-pro-section {
    height: calc(1191px + 100px + 50px);
    padding-bottom: 50px;
    padding-top: 50px;
  }

  .river-pro-section .inner-container {
    transform: scale(0.8);
  }

  .river-pro-section .section-subtitle {
    margin-left: 0;
  }
  .products-showcase-section {
    height: calc(1191px + 200px);
  }
  .products-showcase-section .section-title {
    font-size: 50px;
  }
  .products-showcase-section .products-list .products-item img {
    width: 200px;
    height: 200px;
  }
  .products-showcase-section .container {
    width: calc(100vw + 100px - 226px);
  }
  .products-showcase-section
    .products-list
    .products-item
    .product-desc
    .section-subtitle {
    font-size: 22px;
    width: 200px;
  }
  .products-showcase-section
    .products-list
    .products-item
    .product-desc
    .product-price {
    font-size: 18px;
  }
  .products-showcase-section .products-item img {
    width: 250px;
    height: 250px;
  }
}
/* Samsung S20 Ultra */
@media screen and (max-width: 412px) {
  .river-pro-section .outdoor-img {
    margin-top: -12px;
  }
  .hero .hero-title {
    font-size: 45px;
    width: 300px;
  }
  .solar-panel-section .section-title {
    font-size: 50px;
  }
  .solar-panel-section {
    height: 1191px;
  }
  .products-showcase-section {
    height: calc(1191px + 450px);
  }
}
/* M Mobile screens */
@media screen and (max-width: 375px) {
  .container {
    width: calc(100vw - 226px + 125px);
  }
  .products-showcase-section .products-item img {
    width: 200px;
    height: 200px;
  }
  .solar-panel-section {
    height: calc(1191px - 75px);
  }
  .products-showcase-section {
    height: calc(1191px + 200px);
  }
  .products-showcase-section
    .products-list
    .products-item
    .product-desc
    .section-subtitle {
    font-size: 16px;
  }
  .products-showcase-section
    .products-list
    .products-item
    .product-desc
    .product-price {
    font-size: 14px;
  }
  .solar-panel-section .section-title {
    font-size: 45px;
  }
  .delta-section p {
    width: auto;
  }
  .contact-section .contact-form {
    transform: scale(0.8);
  }
}
/* Samsung screen 360x--- */
@media screen and (max-width: 360px) {
  .river-pro-section .outdoor-img {
    margin-top: 0;
  }
  .hero-button {
    padding: 25px 45px 25px 45px;
    font-size: 15px;
  }
  .river-pro-section {
    height: calc(1191px + 460px + 50px);
  }
}

/* S Mobile Screens */
@media screen and (max-width: 320px) {
  .delta-iframe {
    width: calc(450px - 226px);
  }
  .river-pro-section .section-subtitle {
    font-size: 45px;
  }
  .river-pro-section {
    height: calc(1191px + 100px + 100px);
  }
  .delta-section p {
    width: 250px;
  }
  .river-pro-section .outdoor-img {
    width: 260px;
    height: 260px;
  }
  .river-pro-section p {
    width: 240px;
  }
  .river-pro-section .outdoor-img img {
    bottom: 20px;
    width: 600px;
    height: 300px;
    right: 166px;
  }
  .products-showcase-section .section-title {
    font-size: 45px;
  }
  .contact-section .section-title {
    font-size: 35px;
    width: 200px;
  }
  .solar-panel-section .inner-container {
    transform: scale(0.9);
  }
}
